<?xml version="1.0" encoding="utf-8"?>
<Content Key="87bdca33-06cd-4d95-85a3-af6b98dfe0ff" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2023-02-15T23:49:13</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="531d3c89-67f0-4296-b4b2-ebb92541bbdd">Homepage</Template>
  </Info>
  <Properties>
    <markdownContent>
      <Value><![CDATA[]]></Value>
    </markdownContent>
  </Properties>
</Content>