<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e26e526f-aca7-4550-aa4c-f6d1ea951a26" Alias="Homepage - Maximum Markdown" Level="1">
  <Info>
    <Name>Homepage - Maximum Markdown</Name>
    <EditorAlias>Maximum Markdown Editor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>